<h1>Welcome to Saxon's TV Torrents App</h1>

<h2>Recent Episodes</h2>
<table width="100%">
  <thead>
    <tr>
      <th>Show</th>
      <th>Title</th>
      <th>Season</th>
      <th>Episode</th>
      <th>Published</th>
      <th>Downloads</th>
    </tr>
  </thead>

  <%= render :partial => 'episodes/episode',
             :collection => @recent_episodes,
             :as => :episode,
             :locals => { :file_formats => @file_formats } %>
</table>
