<h1>Listing shows</h1>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <td>Show Name</td>
      <% @file_formats.each do |file_format| -%>
        <td><%= file_format %></td>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <%= render @shows %>
  </tbody>
</table>
